<div class="white-banner">
  <h1 class="title001">
  JESUS É MARAVILHOSO, REI DOS REIS, SENHOR DOS SENHORES, NOSSO PAI, Letras musica louvores
</h1>

<p class="paragraph002">
  Jesus, Filho de Davi
  Olha para mim, olha para mim

  Jesus, Deus de compaixão
  Eu estou aqui
  Necessito de um milagre
  É preciso ter coragem pra
  Lutar e vencer
  Esperar a hora do milagre acontecer

  Posso ouvir Tua voz
  Poderosa a me dizer
  Filho meu, o que Eu posso
  Fazer por você?
  Filho meu, o que Eu posso
  Fazer por você?

  Eu quero ver Tua glória
  Ver Tua face
  Ver Tua beleza
</p>

<p class="paragraph003">
  Cristo voltará
  Muitos confiam em carros
  E outros, em seus cavaleiros
  Muitos Te louvam com lábios
  E o coração dividido
  Perdidos dentro da casa do Pai
  Já não se lembram que o Céu é real
  Tão ocupados com coisas banais
  Abra os nossos olhos espirituais
  Por que pararam de falar do Céu?
  Acham que Cristo não vai mais voltar?
  Já não se fala tanto em oração
  E santificação não querem mais pregar
  Por que pararam de falar do Céu?
  E só se fala em bens materiais
  Mas eu sei que dentro da igreja
  Existe uma igreja espiritual
  Levanta essa geração
  Desperta, igreja, em oração
  Faz arder de novo
  Reacende o fogo
  Levanta essa geração
  Traz de volta a visão
  Onde tudo começou
  De volta ao primeiro amor
 </p>
</div>

<div class="paragraph004">
  <h1>Para mais informações sobre a biblioteca gospel acesse:</h1>
  <!-- Botão que chama o método abrirBiblioteca() -->
  <button (click)="abrirBiblioteca()">Clique aqui</button>

  <p>
    Pelo resplendor da sua presença
    Brasas de fogo se acendem
    Eu preciso dessa presença todo dia
    Na sua presença até a tristeza salta de alegria
    Sua presença faz o coração arder
    Só a sua presença, faz o crente vencer
    E o pavio que fumega Ele vai aquecer
    Com a sua presença, me fará acender
    Sua presença está neste lugar eu posso sentir vou glorificar
    Ele é poderoso, Ele é Jeová, o impossível pra Ele não há
    Ele usa fogo para curar, para batizar, para renovar
    Hoje uma bênção irás levar, então abre a boca pra lhe exaltar
    Esse Deus tremendo está aqui com a sua glória
    Se for preciso Ele para o sol, Ele para a lua
    Ele abre o mar, Ele fecha o mar
    Se muda gente, se converte gente, Ele faz mais que isso pra te dar vitória
    Esse Deus é fogo, mas também é água que mata a sede
    Ele é médico, se é enfermidade Ele sara
    Se é depressão, Ele usa a unção
    Se o problema é porta Ele abre porta, até onde não tem parede
  </p>
</div>
